.row {
    margin-left: -8px;
    margin-right: -8px
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}


.l-4 {
    width: 33.333333%;
}

.l-6 {
    width: 50%;
}

.l-12 {
    width: 100%;
}





/* PC */
@media (min-width: 1024px) {

}

/* Tablet & mobile */
@media (max-width: 1023px) {
    .newyork-ticket__btn {
        padding: 15px 16px;
    }

    .contact-form__message, 
    .contact-form__name, 
    .contact-form__email {
        padding: 22px 10px;
    }

    .contact-info {
        line-height: 2
    }

    .btn-send {
        height: 48px;
    }

    #footer > div {
        font-size: 40px;
    }

    #footer > div > a {
        margin-right: 15px;
    }

    #footer > p {
        font-size: 22px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #header-nav .subnav li {
        padding: 13px 12px;
    }

}

/* Mobile */
@media (max-width: 739px) {

    #header {
        overflow: hidden;
    }
    
    #header-nav li {
        float: none;
    }

    #header #header-search {
        display: none;
    }
    
    #header #header__menu-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #text-title,
    #text-description {
        display: none;
    }

    #header-nav > li:first-child {
        display: inline-block;
    }

    #header-nav > li:hover > a {
        color: #fff;
        background-color: #000;
    }

    #header-nav .nav-down {
        right: unset;
        left: 80px;
    }

    #header-nav .subnav {
        position: initial;
        top: unset;
        left: unset;
        background-color: #333;
    }
    
    #header-nav .subnav li {
        /* color: #fff; */
        padding: 12px 46px;
    }

    #header-nav .subnav a {
        color: #fff;
    }

    #header-nav > li > a {
        color: #fff;
        padding: 1px 24px;
    }

    .tour-schedule__item {
        padding: 10px 16px;
    }

    #content .content-section {
        padding: 64px 16px;
    }

    #content .member-avar {
        margin-bottom: 16px;
    }

    .newyork-ticket {
        margin-bottom: 16px;
    }

    .contact-info {
        margin-bottom: 32px;
    }

    .contact-form__email {
        margin-top: 8px;
    }
    .s-full-width {
        width: 100% !important;
    }

    .m-12 {
        width: 100%;
    }
}